<% category_permissions.each do |@permission| %>
  <%- mthp = models_that_have_permission %>
  <a href='#' title='<%=mthp%>' style='color:<%= mthp == 'none' ? 'red':'green' %>'>
    <%= @permission[:action] %>
  </a>&nbsp;&nbsp;
<% end %>
