<%- set_tag @permissions_object %>
<h1 class="pageName">Edit <%= @permissions_header %></h1>
<%= form_tag form_path, :method => :put, :remote => true do |f| %>
  <!-- %= error_messages_for :product_tier % -->
  <table>
    <tbody>
      <%= render :partial => 'permissions_fields' %>
      <tr>
        <td colspan="3">
          <br/>
          <strong>
            <a id="permissions_expand"   onclick="$('.permissionsCategory').show(); $('#permissions_collapse').show(); $('#permissions_expand').hide(); return false;" style="color:#0A5DBB;">Permissions</a>
            <a id="permissions_collapse" onclick="$('.permissionsCategory').hide(); $('#permissions_collapse').hide(); $('#permissions_expand').show(); return false;" style="color:#0A5DBB; display:none;">Permissions</a>
          </strong>
        </td>
      </tr>
      
      <%= @section_prefix = ''; @permissions_partial = :model_permissions; render(:partial => 'permissions/section', :collection => permissions_sections) %>

      <tr>
        <td></td>
        <td colspan="2">
          <%- if allowed_to?(:update, @permissions_category) %>
            <input type="submit" value="Save"/> or
          <%- end %>
          <a href="#" onclick="toggle_views(); self.scrollTo(0, 0); $('af_permissions_categories').hide();">cancel</a>
        </td>
      </tr>
      
    </tbody>
  </table>
<% end %>
