<% category_permissions.each do |@permission| %>
  <%= render :partial => 'permissions/color_coded_permission' %>
<% end %>
<table id="<%=category_name%>" style="display:none;">
  <tbody>
    <% category_permissions.each do |@permission| %>
      <%= render :partial => 'permissions/permission' %>
    <% end %>
  </tbody>
</table>
